.hero{
    max-width: 1280px;
    height: 600px;
    // border: 1px solid;
    border-radius: 10px;
    background-color: #fefcf7;
    margin: 0 auto;
    margin-top: 45px;
    background-image: url('../../images/bacgroud.png');
    background-repeat: no-repeat;
    position: relative;
    .hero-text{
        position: absolute;
        top: 117px;
        left: 85px;
        background-color: transparent;
        h1{
            width: 493px;
            color: #fefcf7;
            font-size: 72px;
            font-family: 'fraunces';
            font-weight: 900;
            line-height: 72px;
        }
        p{
            width: 445px;
            font-family: 'barlow';
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #fefcf7;
            margin-top: 32px;
            padding-bottom: 56px;
            opacity: 80%;
        }
        a{
            width: 217px;
            height: 56px;
            border-radius: 6px;
            // border: 1px solid;
            padding: 15px 31px;
            background-color: #66d2cf;
            text-decoration: none;
            color: #fefcf7;
            font-family: 'fraunces';
            font-weight: 900;
            font-size: 18px;
            line-height: 25px;
        }
    }
}
@media only screen and (max-width:989px) {
    .hero{
        max-width: 988px;
        background-size: 100%;
        position: relative;
        .hero-text{
            position: absolute;
            top: 104px;
            left: 58px;
            h1{
                max-width: 329px;
                font-size: 48px;
                line-height: 48px;
            }
            p{
                width: 398px;
                font-size: 15px;
                line-height: 25px;
                color: #fefcf7;
                margin-top: 24px;
                padding-bottom: 40px;
                opacity: 80%;
            }
            a{
                width: 217px;
                height: 56px;
                border-radius: 6px;
                margin-top: 0;
                padding: 15px 31px;
                background-color: #66d2cf;
                text-decoration: none;
                color: #fefcf7;
                font-family: 'fraunces';
                font-weight: 900;
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}
@media only screen and (max-width:988px) {
    .hero{
        background-size: 100%;
        margin-top: 53px;
        .hero-text{
            margin-top: -46px;
        }
    }
}